:root{
  --cor_background: rgb(0, 0, 0);
  --cor_text: rgb(255, 255, 255)
}

*{
  box-sizing: border-box;
  font-family: 'Courier',serif;
  scroll-behavior: smooth;
}

body{
  background-color: var(--cor_background);
  font-size: 1rem;
  color: var(--cor_text);
  margin: 0;
}

nav{
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color:var(--cor_background);
  width: 100vw;
  height: 60px;
  padding: 10px 20px 0 0;
  z-index:1;
  box-shadow: 0 1px 10px rgba(187, 187, 181, 0.918);
}

nav .icon_nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 2rem;
  margin-left: 20px;
}

nav .links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 5px;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: var(--cor_text);
  cursor: pointer;
}

a:hover{
  color: rgba(255, 255, 255, 0.747);
}

.btn{
  padding: 5px;
  border: 0.5px solid;
  border-radius: 50px;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  color: var(--cor_background);
}

.links .btn:active{
  padding: 4.5px;
  transition: 1ms;
  margin-left: 1px;
}

.efeito{
  border-color: var(--cor_text);
  color: var(--cor_text);
  background-image: linear-gradient(45deg, var(--cor_text) 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: 300ms ease-in-out;
}

.efeito:hover{
  background-position: 0;
}

.bar{
  display: none;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
}

.bar:active{
  font-size: 1.9rem;
}

.apresentacao{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px;
  font-weight: 800;
  height: 100vh;
}

.escrita_efeito{
  font-size: 2.5rem;
}

.escrita_efeito  h1{
  color: rgba(255, 0, 0, 0.973);
  font-size: 3rem;
  margin: 0px;
}

.cursor:after{
  content: '';
  display: inline-block;
  background-color: var(--cor_text);
  margin-left: 3px;
  height: 28px;
  width: 4px;
  animation: cursor 0.8s infinite;
}

@keyframes cursor {
  0% { opacity: 1; }
  49% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

.apresentacao .escreve_efeito{
  margin: 0;
}

.apresentacao_img img{
  width: 200px;
  height: 200px;
  animation: opacidade 20s linear infinite;
}

@keyframes opacidade {
  0% { opacity: 0; }
  10% { opacity: 0.3; }
  30% { opacity: 0.7; }
  50% { opacity: 1; }
  70% { opacity: 0.7; }
  90% { opacity: 0.3; }
  100% { opacity: 0; }
}

.projeto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
  height: 100vh;
  padding: 10px;
}

.projeto .cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.projeto .card{
  display: flex;
  gap: 5px;
  background-color: rgba(58, 56, 56, 0.849);
  padding: 5px;
  width: 500px;
  height: 200px;
  border-radius: 10px;
  opacity: 0.3;
  transition:0.8s;
  overflow: hidden;
}

.projeto .card:hover { 
  transform: translateY(-10px); 
	box-shadow: 0 5px 20px rgba(172, 172, 171, 0.918);
  opacity: 1;
}

.projeto .card a{
  width: 30vw;
  height: auto;
  border-right: solid rgba(255, 255, 255, 0.212) .1px;
  padding: 5px;
  align-self: center;
}

.projeto .card .card_imagem img{
  width: 100%;
  height: 100%;
}

.projeto .card .descricao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  width: 70vw;
  height: 100%;
}

.projeto .card .descricao h4{
  text-align: center;
  font-size: 1.3rem;
  margin: 0;
}

.projeto .card .descricao span{
  font-size: .8rem;
}

.projeto .card .em_breve{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projeto .card .em_breve span{
  border: double 10px;
  padding: 10px 30px;
}

.habilidade{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
  padding: 10px;
  font-weight: 800;
  height: 100vh;
}

.habilidade .card_habilidades{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 90%;
}

.habilidade .card_habilidade{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgba(58, 56, 56, 0.849);
  padding: 5px;
  border-radius: 10px;
}

.habilidade .card_habilidade img{
  width: 100%;
  height: 100%;
}

.sobre{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: 100vh;
  padding: 10px;
}

.sobre span{
  width: 82vw;
  text-align: center;
}

.contato{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 50px;
  font-size: 1.5rem;
  height: 100vh;
}

.contato .contato_link{
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

form{
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 500px;
}

.contato label{
  font-size: 1.2rem;
  padding: 5px;
}

.contato input{
  margin: 5px;
  padding: 5px;
  border: 0px;
  border-radius:8px;
}
.contato textarea{
  height: 100px;
  margin: 5px;
  padding: 5px;
  border: 0px;
  border-radius:8px;
}

.contato input:focus, textarea:focus{
  outline: 0;
}

.contato button{
  font-size: 1rem;
  background-color: transparent;
  margin: 10px 5px 0px 5px;
  padding: 5px;
}

.contato .btn:focus{
  color: rgb(131, 127, 127);
  outline-offset: initial;
}

.contato .btn:active{
  padding: 4.5px;
  transition: 1ms;
  margin-top: 11px;
}

.contato .icon_contato{
  font-size: 3rem;
  padding: 10px;
  margin: 0;
}

.rodape{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  margin-top: 100px;
  padding: 10px;
}

.rodape .icon_rodape{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 3px;
  font-size: 1.5rem;
  margin: 10px 0 0 0;
  padding: 0;
}

@media (max-width: 600px){

  nav .links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin-top: 52px;
    padding: 0;
    width: 100vw;
    height: 0;
    background-color: var(--cor_background);
    box-shadow: 0 1px 10px rgba(187, 187, 181, 0.918);
    visibility: hidden;
    overflow-y: hidden;
    transition: .1s;
  }

  nav.active .links{
    height: 32vh;
    visibility: visible;
  }

  .bar{
    display: block;
    color: var(--cor_text);
    background-color: transparent;
    padding: none;
    border: none;
    outline: none;
    margin: none;
  }

  .bar:hover{
    color: rgba(255, 255, 255, 0.747);
  }

  .apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    padding: 10px;
    font-weight: 800;
    height: 100vh;
  }

  .escrita_efeito{
    font-size: 1.8rem;
  }

  .apresentacao_img img{
    display: none;
  }

  .escrita_efeito  h1{
    font-size: 2rem;
  }

  .projeto .card{
    font-size: 1rem;
    width: 300px;
    height: 150px;
  }

  .projeto .card .descricao span{
    font-size: .7rem;
  }
  
  .projeto .card .em_breve span{
    border: double 5px;
  }

  .sobre span{
    font-size: 1.2rem;
  }

  .contato .contato_link{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
  }

  form{
    width: 300px;
  }

  .contato .icon_contato{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5px;
    font-size: 3rem;
    margin: 0;
  }

  .rodape{
    font-size: 0.65rem;
  }
}
