:root{
  --cor_primary: white;
  --cor_text: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
}

html{
  background-color: rgb(25, 25, 25);
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--cor_text);
}

.nav_link{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  background-color: rgb(45, 81, 255);
  padding: 10px;
}

.apresentacao{
  background-color: purple;
  height: 300px;
}

.sobre{
  margin-top: 50px;
  background-color: cyan;
}

.projeto{
  margin-top: 50px;
  background-color: orange;
}

.cards{
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  background-color: red;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  opacity: 0.5;
}

.card:hover{
  opacity: 1;
}

.contato{
  margin-top: 50px;
  background-color: rgb(29, 85, 84);
  height: 100px;
}

.rodape{
  margin-top: 50px;
  background-color: green;
  height: 100px;
}

